{{#each this}}
<div class="country-info">
    <ul class="country-info-list">
        <li class="country-info-item">
            <h2>Capital:{{capital}}</h2>
        </li>
        <li class="country-info-item">
            <h2>Population:{{population}}</h2>
        </li>
        <li class="country-info-item">
            <h2>Languages:</h2>
            <ul class="languages-list">
                {{#each languages}}
                <li class="languages-item" {{population.name}}></li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="country-img" src="{{flag}}" alt="country {{name}} flag">
</div>
{{/each}}