{{#each this}}
<div class="country-info">
    <h2 class="country-info-title">{{name}}</h2>
    <div class="country-info-wrap">
        <ul class="country-info-list">
            <li class="country-info-item">
                <h2 class="item-text">Capital: {{capital}}</h2>
            </li>
            <li class="country-info-item">
                <h2>Population: {{population}}</h2>
            </li>
            <li class="country-info-item">
                <h2>Languages:</h2>
                <ul class="languages-list">
                    {{#each languages}}
                    <li class="languages-item">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="country-info-img" src="{{flag}}" alt="country {{name}} flag" width="300px " height="200px">
    </div>

</div>
{{/each}}